# Inspection

In [2]:
import pandas as pd

In [6]:
# h_customer.dsv
path = 'tcph2data\h_customer.dsv'
sep = '|'
chunksize = 5

In [7]:
h_customer = pd.read_csv(
    path,
    sep=sep,
    # index_col=0,
    header=0,
    # engine='c',
    # dtype=str,
    iterator=True,
    chunksize=chunksize,
    encoding='utf-8',
    encoding_errors='ignore'
)

In [8]:
next(h_customer)

,C_CUSTKEY,C_NAME,C_ADDRESS,C_NATIONKEY,C_PHONE,C_ACCTBAL,C_MKTSEGMENT,C_COMMENT
0,3087,Customer#0000003087,R6k2NmyigwP0gPNR2yg2226g2RN,16,117-398-8428,"6168,09",HOUSEHOLD,blithely final theodolites try to hang ironica...
1,3089,Customer#0000003089,00NB2ywNkRg6kwkgk,9,626-408-9521,"9423,01",BUILDING,permanently close tithes are of .
2,3092,Customer#0000003092,2kmPi6Bm m6wkwk2RRB2kgi0yyLyPk,12,330-709-7828,"1653,94",AUTOMOBILE,quietly even somas beside thrash fluffily at .
3,3093,Customer#0000003093,g Nii PkLw2mwBNP2Ni04g04PRPLN0Rk6Pi4,18,656-420-2897,"9718,37",FURNITURE,blithely pending pinto beans nag blithely .
4,3100,Customer#0000003100,242y4 w264y4B0Pg 60yiwNgLkN6R0wkywkPmii,23,424-440-1544,"5945,43",FURNITURE,express requests was quickly above .

In [9]:
# h_lineitem.dsv
path = 'tcph2data\h_lineitem.dsv'
sep = '|'
chunksize = 5

In [10]:
h_lineitem = pd.read_csv(
    path,
    sep=sep,
    # index_col=0,
    header=0,
    # engine='c',
    # dtype=str,
    iterator=True,
    chunksize=chunksize,
    encoding='utf-8',
    encoding_errors='ignore'
)

In [11]:
next(h_lineitem)

,L_ORDERKEY,L_PARTKEY,L_SUPPKEY,L_LINENUMBER,L_QUANTITY,L_EXTENDEDPRICE,L_DISCOUNT,L_TAX,L_RETURNFLAG,L_LINESTATUS,L_SHIPDATE,L_COMMITDATE,L_RECEIPTDATE,L_SHIPINSTRUCT,L_SHIPMODE,L_COMMENT
0,2828519,24450,4451,3,3,"4123,35",0,0,R,F,28.01.92,22.02.92,31.01.92,DELIVER IN PERSON,REG AIR,"pending, unusual deposits s"
1,2828806,399525,19526,6,35,"56857,85","0,08","0,07",R,F,24.01.92,20.02.92,30.01.92,NONE,SHIP,blithely ironic instruction
2,2834628,47270,17275,2,20,"24345,4","0,09","0,02",R,F,29.01.92,24.03.92,27.02.92,NONE,AIR,regular requests cajole car
3,2835457,222248,7260,4,10,"11702,3","0,1","0,05",R,F,07.01.92,20.03.92,22.01.92,COLLECT COD,REG AIR,packages about boost blithe
4,2835846,4998,4999,1,1,"1902,99",0,0,A,F,22.01.92,19.02.92,23.01.92,DELIVER IN PERSON,REG AIR,ironic requests sleep .

In [ ]:
pattern = ',(?="|\d+)'